@font-face {
    font-family: 'neo_eulermedium';
    src: url('/fonts/neo-euler.woff2') format('woff2'),
         url('/fonts/neo-euler.woff') format('woff'),
         url('/fonts/neo-euler.ttf') format('ttf'),
         url('/fonts/neo-euler.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

html { 
  font-family: 'neo_eulermedium';
  font-weight: 200;
}

body {
  color: black;
  background-color: #F8F0E3;
  margin: 10px;
  justify-content: center;
}

header {
  font-size: 2em;
  text-align: center;
}

footer {
  justify-content: center;
  text-align: center;
}